@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-container {
    text-align: center;
    padding: 50px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    border-radius: 10px;
}

.signup-container h1 {
    color: #333;
}

.form-group {
    font-size: large;
    margin: 10px 0;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #021c2d;
}

footer {
    text-align: center;
    background-color: #022033;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
